<main class="main">
    <a id="home" href="/" hidden>Back to All Shows</a>
    <h1>Search</h1>
    <form id="search" class="search-form">
        <label id="searchLabel" for="searchTerm">
            <input type="text" id="searchTerm" name="searchTerm" placeholder="Search for shows..."
                class="search-bar-input" />
        </label>
        <button class="search-button" type="submit">Search</button>
    </form>
    <ul id="shows"></ul>

    <div id="show" hidden></div>

</main>